# Admin Dashboard Credentials
ADMIN_USERNAME=*****
ADMIN_PASSWORD=*****

# reCAPTCHA (replace with real keys)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY==*****
RECAPTCHA_SECRET_KEY==*****

# App
NEXT_PUBLIC_SITE_NAME==*****
NEXT_PUBLIC_PHONE=*****
NEXT_PUBLIC_EMAIL=******
NEXT_PUBLIC_WHATSAPP==*****
